/* Basic reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Body styling with minimum height */
html, body {
    height: 100%;
    font-family: Arial, sans-serif;
    background-color: #f5f5f5;
    color: #333;
    display: flex;
    flex-direction: column;
}

/* Make the main content area grow to fill available space */
main {
    flex-grow: 1;
    padding: 2rem;
    max-width: 900px;
    margin: 2rem auto;
    background-color: white;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
}

/* Header styling */
header {
    background-color: #007bff;
    color: white;
    padding: 1.5rem;
    text-align: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

/* Navigation bar */
nav {
    display: flex;
    justify-content: center;
    background-color: #0056b3;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

nav a {
    color: white;
    padding: 1rem 2rem;
    text-decoration: none;
    text-transform: uppercase;
    transition: background-color 0.3s ease;
}

nav a:hover {
    background-color: #004494;
}

/* Form containers */
.upload-container, .delete-container {
    background: #ffffff;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    max-width: 500px;
    width: 100%;
    margin: 0 auto;
}

/* Form header */
.upload-container h2, .delete-container h2 {
    margin-bottom: 20px;
    font-size: 24px;
    text-align: center;
    color: #333;
}

.basic-container, .delete-basic-container {
    background: #ffffff;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    max-width: 500px;
    width: 100%;
    margin: 0 auto;
    margin-top: 1ch;
}

.cgi-scripts {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    margin: 1ch;

}

form {
    margin: 1ch;
}

/* Label styling */
form label {
    margin-bottom: 10px;
    font-size: 16px;
    color: #555;
}

/* Input field styling */
form input[type="file"], form input[type="text"] {
    padding: 10px;
    border: 2px solid #ddd;
    border-radius: 5px;
    margin-bottom: 20px;
    width: 100%;
    transition: border-color 0.3s;
}

form input[type="file"]:hover, form input[type="text"]:hover {
    border-color: #ccc;
}

/* Button styling */
form input[type="submit"], form button {
    padding: 10px;
    border: none;
    border-radius: 5px;
    background-color: #007BFF;
    color: white;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s;
    width: 100%;
}

form input[type="submit"]:hover, form button:hover {
    background-color: #0056b3;
}

/* Footer styling */
footer {
    background-color: #007bff;
    color: white;
    text-align: center;
    padding: 1rem;
    width: 100%;
    box-shadow: 0 -4px 8px rgba(0, 0, 0, 0.1);
    position: relative;
    bottom: 0;
}
