.list-container {
  padding: 10px;
  overflow-y: auto;
  background-color: #f9f9f9;
  scroll-behavior: smooth;
  display: flex;
  flex-direction: column;
}

.message-list-header {
  font-size: 1.5rem;
  margin-bottom: 10px;
  background: radial-gradient(
    780px at 37.8% 100.3%,
    rgb(19, 55, 115) 2.2%,
    rgb(32, 7, 80) 20.2%,
    rgb(27, 88, 111) 58.6%,
    rgb(115, 88, 44) 75%,
    rgb(99, 19, 90) 89.6%,
    rgb(12, 51, 76) 96.1%
  );
  border-top-left-radius: 15px;
  width: 100%;
  font-family: Rubik;
  color: white;
}

.message-item-container {
  display: flex;
  flex-direction: column;
  margin-bottom: 10px;
}

.message-bubble {
  display: inline-block;
  padding: 10px 15px;
  border-radius: 20px;
  max-width: 60%;
  word-wrap: break-word;
}

.message-own {
  background-color: #1a47dc;
  color: white;
  align-self: flex-end;
}

.message-other {
  background-color: #dcf8c6;
  color: black;
  align-self: flex-start;
}

.message-dm-other {
  background-color: #c4c4c4;
  color: black;
  align-self: flex-start;
}

.message-dm-own {
  background-color: #bae9ff;
  color: black;
  align-self: flex-end;
}

.sender-own {
  font-size: 12px;
  color: #555;
  margin-top: 5px;
  align-self: flex-end;
}

.sender-other {
  font-size: 12px;
  color: #555;
  margin-top: 5px;
  align-self: flex-start;
}

.announcement-bubble {
  background-color: #a7ffd3;
  display: inline-block;
  padding: 10px 15px;
  border-radius: 4px;
  word-wrap: break-word;
  text-align: center;
  color: black;
  margin: auto;
  width: 60%;
}

.game-invitation-bubble {
  background-color: #c0ff8f;
  color: black;
  padding: 10px 15px;
  border-radius: 20px;
  text-align: center;
  word-wrap: break-word;
}

.game-invitation-bubble a {
  color: black;
  text-decoration: underline;
}
