.notification-container {
  background-color: #323232;
  color: #fff;
  padding: 10px 20px;
  margin-bottom: 10px;
  border-radius: 4px;
  animation: 0.5s ease-out;
}

.notification {
  background-color: #323232;
  color: #fff;
  padding: 10px 20px;
  margin-bottom: 10px;
  border-radius: 4px;
  animation: 0.5s ease-out;
}
