.glass-navx {
  background: rgb(2, 0, 36);
  background: radial-gradient(
    780px at 37.8% 100.3%,
    rgb(19, 55, 115) 2.2%,
    rgb(32, 7, 80) 20.2%,
    rgb(27, 88, 111) 58.6%,
    rgb(115, 88, 44) 75%,
    rgb(99, 19, 90) 89.6%,
    rgb(12, 51, 76) 96.1%
  );
  border: 0px;
  border-radius: 35px;
  color: #d6d6d6; /* Text color */
  font-family: "Rubik", sans-serif;
  font-weight: 500; /* Makes the text bold */
  font-size: 1.3rem; /* Increases the font size */
  padding: 12px 24px; /* Increases padding for a larger button */
  filter: drop-shadow(0.1rem 0.1rem 0.2rem #212121);
  transition: all 3s ease-in-out;
  margin: 0;
}

.glass-navx-item:hover {
  font-size: 1.4rem; /* Increases the font size */
  transition: all 0.4s ease-in-out;
}
